.header {
  height: 36px;
  width: 100%;
  padding: 40px 24px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 100;
}

.left {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 1.3rem;
  font-weight: 600;
  text-decoration: none;
  color: #111;
  padding: 0px 12px;
}

.right {
  display: flex;
  align-items: center;
  gap: 16px;
}
